name: Check Formatting
run-name: Check Formatting

on: push
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run clang-format style check for C/C++/Protobuf programs.
      uses: jidicula/clang-format-action@v4.11.0
      with:
        clang-format-version: '13'
        check-path: '.'
        fallback-style: 'Mozilla' # optional
    - name: check for todo fixme note
      run: |
        NTODOS="$(grep -r 'TODO FIXME' | wc -l)"
        echo "Found $NTODOS TODO FIXME notes" 
        ! grep -q -r "TODO FIXME"  
